/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19 sept. 2023, 10:43:06
    Author     : mario
*/

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
input[type="file"],
input[type="checkbox"] {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #0056b3;
}

.checkbox-group {
    display: inline-block;
    margin-top: 10px;
}

.checkbox-group > div {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle; 
}

.checkbox-group label {
    width: 150px;
    display: inline-block;
}

